@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4"><b>Calc Service Demonstration</b></h1>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="UsingModelCalc">Using Model Calc</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="UsingViewDataCalc">Using ViewData Calc</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="UsingViewBagCalc">Using ViewBag Calc</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="UsingServiceInjectionCalc">Using Service Injection Calc</a></li>
    </ul>
</div>
